/* HelveticaNeueCyr - 900 */
@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 900;
    src: url(./assets/fonts/HelveticaNeueCyr-Black.otf);
  }
  /* HelveticaNeueCyr - 300 */
  @font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    src: url(./assets/fonts/HelveticaNeueCyr-Light.otf);
  }
  /* Nimbus - 400 */
  @font-face {
    font-family: "Nimbus";
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/NIMBSTB.TTF);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 62.5%;
  }
  
  /* general stylesheets */
  .button {
    width: auto;
    padding: .3em 2em;
    outline: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Nimbus", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.1;
    text-transform: uppercase;
    cursor: pointer;
    transition-property: border-color, color, transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .description-title {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 3.3rem;
    line-height: 1.2;
    text-transform: capitalize;
  }
  .description-title__alert {
    font-weight: 900;
    color: #48890a;
  }
  .description-text {
    font-family: Arial, sans-serif;
    font-size: 1.38rem;
    line-height: 1.85;
  }
  .navigation_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    align-items: center;
  }
  .navigation_item {
    width: auto;
    /*margin-right: 1px;*/
    list-style: none;
    transition-property: background-color, transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
  }
  .navigation_item:last-child {
    margin-right: 0;
  }
  .navigation_link {
    display: inline-block;
    width: auto;
    font-family: "Nimbus", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition-property: color, transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
  }
  .wrapper-content {
    width: 90%;
    max-width: 96rem;
    margin: 0 auto;
  }
  
  /* .first-screen */
  .first-screen {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 1.7rem;
    padding-bottom: 21.6rem;
    border-bottom: 4px solid #e46107;
    background-image: url('./assets/images/firstScreen_background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: 1;
  }
  .main-logo {
    position: absolute;
    top: -50%;
    left: -50%;
    opacity: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
  }
  .logo {
    width: 33%;
    height: 100%;
    padding-top: 3.5rem;
    padding-left: 5rem;
    padding-bottom: 1.5rem;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    background-color: #fff;
    overflow: hidden;
  }
  .logo_link {
    cursor: default;
  }
  .logo_image {
    width: 84%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  .header_navigation {
    position: relative;
    top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 11rem;
    border-radius: 43%;
    border-top: 8px solid #fff;
    background: radial-gradient(ellipse farthest-side at top center, #557a4d 0%, #245810 20%, #45781c 40%, #6d9339 60%, transparent 90%);
    background: -webkit-radial-gradient(ellipse farthest-side at top center, #557a4d 0%, #245810 10%, #45781c 40%, #6d9339 60%, transparent 90%);
    background: -moz-radial-gradient(ellipse farthest-side at top center, #557a4d 0%, #245810 10%, #45781c 40%, #6d9339 60%, transparent 90%);
    overflow: hidden;
  }
  .header_navigation-list {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
  .header_navigation-item {
    padding: 3rem 1.5rem;
    border-radius: 5px;
    background-color: transparent;
  }
  .header_navigation-item:hover,
  .header_navigation-item:focus {
    background-color: #e46107;
  }
  .header_navigation-item:active {
    background-color: rgba(228,97,7,.7);
    transform: scale(.9);
  }
  .header_navigation-link {
    color: #fff;
  }
  .first-screen_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .first-screen_heading {
    width: 90%;
    margin-top: .1rem;
    padding-bottom: 2.2rem;
    font-family: "Helvetica", sans-serif;
    font-weight: 900; 
    font-size: 6.8rem;
    color: #f1f2f5;
    text-shadow: 4px 4px 10px #6f9236, -4px -4px 10px #6f9236;
    text-transform: capitalize;
    text-align: center;
    line-height: 0.95;
  }
  .first-screen_description {
    align-items: center;
    width: 100%;
    padding: 2.5rem 2.75rem 3.1rem;
    background-color: rgba(38,49,28,.7);
    border-radius: 5px;
    color: #f1f2f5;
  }
  .first-screen_description-title {
    padding-bottom: 1rem;
  }
  .first-screen_description-text {
    text-align: center;
  }
  
  /* section: .info */
  .info {
    width: 100%;
    height: auto;
    background-color: #26311c;
  }
  .info_wrapper-content {
    position: relative;
    top: -12rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
  }
  .info_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100% / 3 - 7%);
    padding-bottom: 3rem;
    cursor: default;
  }
  .info_card-image-block {
    width: 86%;
    height: 22rem;
    border-radius: 50%;
    border: 8px solid #fff;
    background-color: #26311c;
    overflow: hidden;  
    transition-property: transform, border-color;
    transition-duration: .5s;
    transition-timing-function: ease-out;
  }
  .info_card-image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transform: scale(1.1);
  }
  .info_card:first-child .info_card-image {
    object-position: center;
    object-fit: cover;
    transform: scale(1.4) translate(10px, -20px);
  }
  .info_card:nth-child(4) .info_card-image {
    justify-self: center;
    object-fit: contain;
    transform: scale(1.9) translateX(35px);
  }
  .info_card:first-child {
    margin-left: -1rem;
  }
  .info_card:nth-child(2) {
    margin-left: 3rem;
  }
  .info_card:nth-child(3) {
    margin-left: 3rem;
  }
  .info_card:nth-child(4) {
    margin-left: 15rem;
  }
  .info_card:last-child {
    margin-right: 15rem;
  }
  .info_card-title {
    width: auto;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 3.4rem;
    line-height: 1.18;
    color: #f1f2f5;
    text-transform: capitalize;
    transition-property: transform, color;
    transition-duration: .5s;
    transition-timing-function: ease-out;
  }
  .info_card:hover .info_card-image-block,
  .info_card:focus .info_card-image-block,
  .info_card:hover .info_card-title,
  .info_card:focus .info_card-title {
    border-color: #8dc705;
    color: #8dc705;
    transform: scale(1.1);
  }
  .info_card-button {
    border-color: #a1ad97;
    color: #fff;
  }
  .info_card:hover .info_card-button,
  .info_card:focus .info_card-button {
    border-color: #8dc705;
    color: #8dc705;
  }
  .info_card-button:hover,
  .info_card-button:focus {
    border-color: #8dc705;
    color: #8dc705;
  }
  .info_card-button:active {
    transform: scale(.9);
  }
  
  /* section: benefits */
  .benefits {
    width: 100%;
    margin-top: -10rem;
    padding-top: 7.5rem;
    padding-bottom: 9.5rem;
    border-bottom: 4px solid #7da83c;
    background-color: #c2caa7;
    background-image: url('./assets/images/benefits_background.jpg');
    background-repeat: no-repeat;
    background-position: top -2rem left 0;
    background-size: 100%;
  }
  .benefits_wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .benefits_description {
    width: 45%;
    color: #000;
  }
  .benefits_description-title__alert {
    display: block;
    font-size: 5rem;
  }
  .benefits_description-text {
    padding-top: 1rem;
    padding-bottom: 1.8rem;
  }
  .benefits-button {
    border-color: #48890a;
    color: #48890a;
  }
  .benefits-button:hover,
  .benefits-button:focus {
    border-color: #8dc705;
    color: #8dc705;
  }
  .benefits-button:active {
    transform: scale(.9);
  }
  
  /* footer */
  .footer {
    width: 100%;
  }
  /* ---- footer: top part  -----*/
  .footer_top-part {
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 2.1rem;
    background-color: #fff;
  }
  .footer_navigation-list {
    justify-content: center;
  }
  .footer_navigation-item {
    margin-right: 4%;
  }
  .footer_navigation-link {
    color: #7b7b7b;
  }
  .footer_navigation-item:hover .footer_navigation-link,
  .footer_navigation-item:focus .footer_navigation-link {
    color: #8dc705;
  }
  .footer_navigation-item:active .footer_navigation-link {
    transform: scale(.9);
  }
  /* ---- footer: bottom part -----*/
  .footer_bottom-part {
    width: 100%;
    padding-top: 2.2rem;
    padding-bottom: 2.5rem;
    background-color: #e4e4e4;
  }
  .footer_bottom-part .wrapper-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;  
  }
  .footer_text {
    width: auto;
    font-size: 1.2rem;
    line-height: 1.667;
    color: #919191;
    text-transform: capitalize;
  }
  
  
  
  
  
  
  
  
  
  